/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 80px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.resultado {
    margin-top: 20px;
    text-align: left;
}

.resultado p {
    margin: 5px 0;
}

.explicacao {
    text-align: left;
}

.explicacao p {
    margin: 5px 0;
    line-height: 1.6;
    border-radius: 80px;
}

.historico {
    background-color: #fff;
    padding: 20px;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0